* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html
{
  scroll-behavior: smooth;
}
body
{
  background: #000;
}
/* pre-loder */
.body-loading
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #34495e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "montserrat",sans-serif;
  z-index: 99;
}
.b-loading
{
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 10px solid #e74c3c;
  position: relative;
  animation: a1 2s linear infinite;
}
.b-loading::before,.b-loading::after
{
  content: '';
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: -10px;
  box-sizing: border-box;
  border-radius: 50%;
}
.b-loading::before
{
  border-top: 10px solid #e67e22;
  transform: rotate(120deg);
}
.b-loading::after
{
  border-top: 10px solid #3498db;
  transform: rotate(240deg);
}
.b-loading span
{
  position: absolute;
  width: 200px;
  height: 200px;
  color: #fff;
  text-align: center;
  line-height: 200px;
  animation: a2 2s linear infinite;
}
@keyframes a1 
{
  to
  {
    transform: rotate(360deg);
  }
}
@keyframes a2 
{
  to
  {
    transform: rotate(-360deg);
  }
}
/* scroll bar */
::-webkit-scrollbar
{
  width: 0;
}
#scrollpath
{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255,255,255,0.05);
  z-index: 5;
}
#progressbar
{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  width: 10px;
  background: linear-gradient(to top, #008aff,#00ffe7);
  animation: animate 5s linear infinite;
}
#progressbar:before,
#progressbar:after
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(to top, #008aff,#00ffe7);
  filter: blur(5px);
}
#progressbar:after
{
  filter: blur(0px);
}
@keyframes animate
{
  0%,100%
  {
    filter: hue-rotate(0deg);
  }
  50%
  {
    filter: hue-rotate(360deg);
  }
}
/* section1 */
.b-section1
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(image/img3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 100px;
  -webkit-box-shadow: inset 0px -41px 90px -0px #000, inset 0px -41px 40px -10px #000;
  -moz-box-shadow: inset 0px -41px 90px -0px #000, inset 0px -41px 40px -10px #000;
  box-shadow: inset 0px -41px 90px -0px #000, inset 0px -41px 40px -10px #000;
}
.b-section1:before
{
  content: '';
  clip-path: polygon(100% 50%,0 100%,100% 100%);
}
.b-header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.b-header .b-logo
{
  position: relative;
  font-size: 1.8em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 2px;
  margin-left: 40px;
}
.b-header .b-nav
{
  position: relative;
  display: flex;
}
.b-header .b-nav .b-li
{
  list-style: none;
}
.b-header .b-nav .b-li .b-menu
{
  display: inline-block;
  color: #fff;
  margin-right: 30px;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  transition: 0.25s;
}
.b-header .b-nav .b-li .b-menu:hover
{
  color: #03a9f4;
}
.active
{
  color: #03a9f4;
}
.b-section1 video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.b-content-out
{
  max-width: 600px;
}
.b-content-out .b-content-in h2
{
  font-size: 7.5em;
  color: #fff;
  line-height: 1.1em;
}
.b-content-out .b-content-in h2 .span1
{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
}
.b-content-out .b-content-in h2 .span2
{
  font-size: 1.3em;
}
.b-content-out .b-content-in p
{
  font-size: 1.4em;
  color: #fff;
  font-weight: 300;
  margin: 20px 0;
}
.b-content-out .b-content-in a
{
  display: inline-block;
  padding: 10px 30px;
  background: linear-gradient(to right,  #2715ca, #22dab2);
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1.5px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 5px;
  
}
.b-content-out .b-content-in a:hover
{
  background: linear-gradient(to right, #22dab2, #2715ca);
}
.b-content-out .b-content-in a::before
{
  content: "";
  width: 200px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  transform: translateX(-100%) rotate(45deg);
  transition: 0.5s;
}
.b-content-out .b-content-in a:hover::before
{
  transform: translateX(100%) rotate(45deg);
}
.b-social
{
  position: absolute;
  bottom: 30px;
  display: flex;
}
.b-social li
{
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.b-social li a
{
  position: relative;
  display: inline-block;
  margin-right: 20px;
  font-size: 20px;
  color: white;
  transition: 0.2s;
}
.b-social li a:hover
{
  transform: scale(1.3);
}
/* side menu */
.overlay
{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.94);
  overflow-x: hidden;
  transition: 0.5s;
  /*background: url(image/img4.jpg);
  background-size: cover;
  clip-path: circle(200px at var(--x) var(--y));*/
}
.overlay-content
{
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a
{
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  display: block;
  transition: 0.3s;
  color: #fff;
  font-weight: 700;
}
.overlay a span:hover, .overlay a:focus
{
  color: #03a9f4;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5)
}
.overlay .closebtn
{
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  margin: -32px 18px 0 0;
}
@media screen and (max-height: 450px)
{
  .overlay a {font-size: 20px}
  .overlay .closebtn
  {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
.b-menu-img
{
  width: 65px;
  cursor: pointer;
  margin: 15px 0 0 0;
}
.b-menu-img:hover
{
  animation: menu 0.46s linear;
}
@keyframes menu
{
  0%
  {
    transform: rotate(0deg);
  }
  25%
  {
    transform: rotate(20deg);
  }
  50%
  {
    transform: rotate(-20deg);
  }
  75%
  {
    transform: rotate(20deg);
  }
  100%
  {
    transform: rotate(0deg);
  }
}
.b-o-img
{
  width: 130px;
  margin-bottom: 15px;"
}
/* section 2 */
.b-section2
{
  width: 100%;
  min-height: 30vh;
  padding: 100px;
  background: #000;
  align-items: center;
  justify-content: center;
  display: flex;
}
.b-group-body
{
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
}
.b-group-img
{
  width: 200px;
  filter: invert(100%);
  margin-bottom: 20px;
}
.b-group-text
{
  color: #fff;
  padding: 0 30px;
  margin-bottom: 20px;
}
/* section 3 */
.b-section3
{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #000;
}
/* slide swiper */
.swiper-container
{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 80px;
}
.swiper-slide
{
  background-position: center;
  background-size: cover;
  width: 380px;
  height: 380px;
  background: #000;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*-webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#000);*/
}
.b-slide-img
{
  border-radius: 6px;
  margin: 10px;
  width: 380px;
  height: 380px;
  position: absolute;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transform: scale(1.2);
  transition: 1s;
}
.b-wrapper-text1
{
  color: white;
  font-size: 3em;
  font-weight: 550;
  text-align: center;
  margin-top: -40px;
  margin-bottom: 30px;
}
.b-wrapper-text2
{
  margin: 0 auto 40px auto;
  color: white;
  font-weight: 550;
  text-align: center;
  margin-top: 0;
  max-width: 650px;
  padding: 0 50px;
}
.b-wrapper-text3
{
  position: relative;
  color: #fff;
  font-size: 2em;
  font-weight: 600;
  z-index: 2;
  transition: 1s
  text-shadow: 5px 5px 10px #000000;
}
.b-wrapper-text3:hover
{
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transform: scale(1.3);
}
.b-wrapper-text3:hover ~ .b-slide-img
{
  -webkit-filter: blur(0px);
  filter: blur(0px);
  transform: scale(1);
}
/* section 5 */
.b-section5
{
  position: relative;
  width: 100%;
  min-height: 50vh;
  display: flex;
  overflow: hidden;
  background: #666;
}
.b-section5 .b-section5-text
{
  position: relative;
  width: 50%;
  background: #111;
  overflow: hidden;
  -webkit-box-shadow:  inset 0 50px 70px -25px rgba(0,0,0,0.9), inset 0px -50px 70px -25px rgba(0,0,0,0.9);
  -moz-box-shadow:  inset 0 50px 70px -25px rgba(0,0,0,0.9), inset 0px -50px 70px -25px rgba(0,0,0,0.9);
  box-shadow: inset 0 50px 70px -25px rgba(0,0,0,0.9), inset 0px -50px 70px -25px rgba(0,0,0,0.9);
}
.b-section5 .b-section5-text:nth-child(1)
{
  position: relative;
  width: 50%;
  background: url(image/img8.jpg);
  background-size: cover;
  background-origin: center;
  overflow: hidden;
}
.b-section5 .b-section5-text:nth-child(1) h2
{
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-fill-color: transparent;
  left: 100%;
}
.b-section5 .b-section5-text h2
{
  position: absolute;
  white-space: nowrap;
  font-size: 6em;
  line-height: 50vh;
  color: #fff;
  animation: groupname linear infinite;
  animation-duration: 45s;
}
@keyframes groupname
{
  0%
  {
    transform: translateX(0);
  }
  100%
  {
    transform: translateX(-100%);
  }
}
/* section 6 */
.b-section6
{
  padding: 25px 0;
  width: 100%;
  background: #000;
}
.b-section6-logo
{
  width: 100%;
  height: 150px;
  margin: 40px 0;
}
.b-logo-svg
{
  width: 1036px;
  height: 133px;
}
.b-section6-logo .b-svg-icon
{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  stroke-dasharray: 900px;
  stroke-dashoffset: 900px;
  text-align: center;
}
.b-section6-logo .b-svg-icon path
{
  fill: transparent;
  stroke: aqua;
}
.b-section6-logo .b-svg-icon.b-svg-shape path
{
  transition: 1s;
  stroke-dasharray: 1500;
  stroke-dashoffset: 0;
  animation: svg-logo 10s linear infinite;
  animation-delay: 3s;
}
@keyframes svg-logo
{
  0%
  {
  stroke-dashoffset: 1560;
  text-shadow: none;
  }
  60%
  {
  stroke-dashoffset: 3120;
  fill: transparent;
  }
  75%
  {
  stroke-dashoffset: 3120;
  fill: aqua;
  text-shadow: 1px 1px 30px #00afea;
  }
  97%
  {
  stroke-dashoffset: 3120;
  fill: aqua;
  text-shadow: 1px 1px 30px #00afea;
  }
  100%
  {
  stroke-dashoffset: 1560;
  fill: transparent;
  text-shadow: 1px 2px 30px #00afea;
  }
}
.b-section6-menu
{
  width: 100%;
  text-align: center;
  font-size: 21px;
  font-weight: 550;
}
.b-section6-menu a
{
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
.b-section6-menu:hover a
{
  -webkit-text-stroke-color: gray;
}
.b-section6-menu a:hover
{
  -webkit-text-stroke-color: white;
}
.b-social-footer
{
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 30px 0;
}
.b-social-footer li
{
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.b-social-footer li a
{
  position: relative;
  display: inline-block;
  margin-right: 20px;
  font-size: 20px;
  color: white;
  transition: 0.2s;
}
.b-social-footer:hover li a
{
  color: gray;
}
.b-social-footer li a:hover
{
  transform: scale(1.3);
  color: white;
}
/* section 7 */
.b-section7
{
  width: 90%;
  background: #111;
  margin: 0 auto;
  padding: 5px 0;
  border-radius: 3px 3px 0 0;
  align-items: center;
  text-align: center;
}
.b-section7 p
{
  color: #fff;
  padding-top: 9px;
  font-size: 12px;
}
.rating input
{
  display: none;
}
.rating label
{
  position: relative;
  width: 0;
  height: 128px;
  cursor: pointer;
  transition: 0.5s;
  filter: grayscale(1);
  text-align: center;
  opacity: 0;
}
.rating label img
{
  width: 80px;
}
.rating:hover label
{
  width: 85px;
  opacity: 0.3;
}
.rating input:hover + label
{
  filter: grayscale(0);
  opacity: 1;
  width: 85px;
}
.rating input:checked + label
{
  filter: grayscale(0);
  opacity: 1;
  width: 85px;
}
.rating label h4
{
  color: #fff;
  font-size: 20px;
  padding-top: 10px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(-50px) scale(0);
  transition: 0.5s;
}
.rating input:hover + label h4,
.rating input:checked + label h4
{
  opacity: 1;
  transform: translateY(0) scale(1);
}


/* media query */
@media (max-width: 1100px)
{
  .b-logo-svg
  {
    width: 1000px;
    height: 103px;
  }
}
@media (max-width: 960px)
{
  .b-header
  { 
    padding: 12px 35px;
  }
  .b-section1
  {
    padding: 70px;
    background-size: cover;
    background-position: center;
  }
  .b-content-out .b-content-in h2
  {
    font-size: 6.5em;
  }
  .b-content-out .b-content-in p
  {
    font-size: 1.09em;
  }
  .b-o-img
  {
    width: 90px;
    margin-bottom: 15px;"
  }
  .b-section2
  {
    padding: 60px;
  }
  .b-section5 .b-section5-text h2
  {
    font-size: 4em;
    animation-duration: 30s;
  }
  /*.b-section5 .b-section5-text:nth-child(1)
  {
    background: url(image/img10.2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }*/
  .b-logo-svg
  {
    width: 900px;
    height: 103px;
  }
  #scrollpath
  {
    width: 7px;
  }
  #progressbar
  {
    width: 7px;
  }
}
@media (max-width: 860px)
{
  .b-logo-svg
  {
    width: 800px;
    height: 85px;
  }
  #scrollpath
  {
    width: 5px;
  }
  #progressbar
  {
    width: 5px;
  }
}
@media (max-width: 760px)
{
  .b-logo-svg
  {
    width: 700px;
    height: 80px;
  }
  #scrollpath
  {
    width: 2px;
  }
  #progressbar
  {
    width: 2px;
  }
}
@media (max-width: 560px)
{
  .b-logo-svg
  {
    width: 480px;
    height: 80px;
  }
  #scrollpath
  {
    width: 1px;
  }
  #progressbar
  {
    width: 1px;
  }
}